{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Friend Requests{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for request in requests %}
    {% set user = users|selectattr('username', 'equalto', request.requestSentBy)|first %}
    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title">New Friend Request</h5><br>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.fname }} {{ user.lname }}</h6>
        <p class="card-text"><a href="{{ url_for ('users.view_profile', username=request.requestSentBy) }}">@{{ user.username }}</a></p>
        <b><a href="{{ url_for('users.respond', username=request.requestSentBy) }}">Respond</a></b>
      </div>
    </div>

  {% endfor %}
{% endblock %}


