{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search Users{% endblock %}</h1>

{% endblock %}

{% block content %}
<form method="post">
  <div class="input-group w-75 mb-3 p-1">
    <input type="text" id="user-search" name="search" class="form-control" placeholder="Search by name or username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <input class="btn btn-primary" type="submit" value="Search">
    </div>
  </div>
</form>
{% endblock %}



